.map_inner {
    background: #eff3f4;
    padding: 15px;margin-top: 10px;
    overflow: hidden
}

.wesoftpress0 {
    opacity: .7
}

.wesoftpress1 {
    fill: #80c2eb;
    cursor: pointer
}

.wesoftpress2 {
    fill: none;
    cursor: pointer
}

.wesoftpress3 {
    fill: #008c44;
    stroke: #fff;
    stroke-width: .75;
    stroke-miterlimit: 10;
    cursor: pointer
}

.wesoftpress4 {
    fill: #008c44;
    stroke: #fff;
    stroke-width: .75;
    stroke-miterlimit: 10;
    cursor: pointer
}

.wesoftpress5 {
    fill: #008c44;
    stroke: #fff;
    stroke-width: .75;
    stroke-miterlimit: 10;
    cursor: pointer
}

.wesoftpress6 {
    fill: #008c44;
    stroke: #fff;
    stroke-width: .75;
    stroke-miterlimit: 10;
    cursor: pointer
}

.wesoftpress7 {
    fill: #008c44;
    stroke: #fff;
    stroke-width: .75;
    stroke-miterlimit: 10;
    cursor: pointer
}

.wesoftpress8 {
    fill: #008c44;
    stroke: #fff;
    stroke-width: .75;
    stroke-miterlimit: 10;
    cursor: pointer
}

.wesoftpress9 {
    fill: #008c44;
    stroke: #fff;
    stroke-width: .75;
    stroke-miterlimit: 10;
    cursor: pointer
}

.wesoftpress10 {
    fill: #008c44;
    stroke: #fff;
    stroke-width: .75;
    stroke-miterlimit: 10;
    cursor: pointer
}

.wesoftpress11 {
    fill: #008c44;
    stroke: #fff;
    stroke-width: .75;
    stroke-miterlimit: 10;
    cursor: pointer
}

.wesoftpress13 {
    fill: #008c44;
    stroke: #fff;
    stroke-width: .25;
    stroke-miterlimit: 10;
    cursor: pointer
}

.wesoftpress14 {
    fill: #008c44;
    stroke: #fff;
    stroke-width: .75;
    stroke-miterlimit: 10;
    cursor: pointer
}

.wesoftpress15 {
    fill: #008c44;
    stroke: #fff;
    stroke-width: .25;
    stroke-miterlimit: 10;
    cursor: pointer
}

.wesoftpress16 {
    enable-background: new;
    cursor: pointer
}

.wesoftpress17 {
    fill: #fff;
    cursor: pointer
}

.wesoftpress18 {
    opacity: .34;
    cursor: pointer
}

.wesoftpress19 {
    fill: #008c44;
    cursor: pointer
}

#rangpur:hover path {
    fill: #9a1515
}

#rangpur:hover path.wesoftpress17 {
    fill: #fff
}

#rangpur:hover path.wesoftpress19 {
    fill: #d5d5d5
}

#mymensingh:hover path {
    fill: #9a1515
}

#mymensingh:hover path.wesoftpress17 {
    fill: #fff
}

#mymensingh:hover path.wesoftpress19 {
    fill: #d5d5d5
}

#sylhet:hover path {
    fill: #9a1515
}

#sylhet:hover path.wesoftpress17 {
    fill: #fff
}

#sylhet:hover path.wesoftpress19 {
    fill: #d5d5d5
}

#rajshahi:hover path {
    fill: #9a1515
}

#rajshahi:hover path.wesoftpress17 {
    fill: #fff
}

#rajshahi:hover path.wesoftpress19 {
    fill: #d5d5d5
}

#khulna:hover path {
    fill: #9a1515
}

#khulna:hover path.wesoftpress17 {
    fill: #fff
}

#khulna:hover path.wesoftpress19 {
    fill: #d5d5d5
}

#borishal:hover path {
    fill: #9a1515
}

#borishal:hover path.wesoftpress17 {
    fill: #fff
}

#borishal:hover path.wesoftpress19 {
    fill: #d5d5d5
}

#chittagong:hover path {
    fill: #9a1515
}

#chittagong:hover path.wesoftpress17 {
    fill: #fff
}

#chittagong:hover path.wesoftpress19 {
    fill: #d5d5d5
}

#dhaka:hover path {
    fill: #9a1515
}

#dhaka:hover path.wesoftpress17 {
    fill: #fff
}

#dhaka:hover path.wesoftpress19 {
    fill: #d5d5d5
}

p.submit {
    margin-top: 0 !important;
}

#set-up-id {
    background-color: #008c44;
}